@import "tailwindcss";
@font-face {
  font-family: montserrat;
  src: url('../public/assets/fonts/MontserratAlternates-Medium.ttf')
  format("truetype")
}

@theme{
  --font-montserrat: "montserrat", sans-serif;
}
 @plugin "daisyui" {
   themes: night --default;
}

 @keyframes fadeIn {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.animate-fadeIn{
  animation: fadeIn 0.3s ease-in-out;
}

